<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'shared/form', post: @post %>
      </div>
    </div>
  </div>
</div>

